/* media queries */
@media screen and (min-width: 300px) {
    
    aside {
        width:100%;
    }
}

@media screen and (min-width: 425px) { 
    h1 {
        font-size: 32px;
    }
    nav ul{
        font-size: 18px;
    }
    full {
        width:95%;
    }
    

@media screen and (min-width: 576px) {
    image-container{
        text-align: justify;
    }
    full {
        font-size: 16px;
    }
    
}

@media screen and (min-width: 768px) {
    header h1 {
        float: left;
        width: 50%;
    }
    nav {
        
        right: 0%;
        top:50%;
    }
    nav ul { 
        font-size: 20px;

    }
    
    container {
       margin-bottom: 40px;
    }
    bioimage {
       margin: 0 40px,
    }
    aside {
       padding:28px
    }
     
}

@media screen and (min-width: 992px) {
    header h1 {
        width:30%;
    }
    aside {
        width: 270px;
        float: right;
    }
    h3 {
        text-align: center;
    }
}